aside{
    background-color: hotpink;
    width: 180px;
    z-index: 999 !important;

    ul{
        list-style: none;
        padding-left: 15px !important;
        li{
            line-height: 40px;
            a{
                text-decoration: none;
                color: white !important;
            }
        }
    }
}
