main{
    margin-top: 55px;
    section{
        margin-left: 180px;


    }

    .sec-index{
        input,
        textarea{
            border: none !important;
            &:focus{
                box-shadow: none !important;
            }
        }
    }
}
